<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>addressselect</title>
	<meta http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Bootstrap core CSS -->
    <link th:href="@{ #{static.accessPath} + 'vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{ #{static.accessPath} + 'vendor/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link th:href="@{ #{static.accessPath} + 'vendor/magnific-popup/magnific-popup.css'}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link th:href="@{ #{static.accessPath} + 'css/freelancer.min.css'}" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" th:href="@{'/'}">EC</a>
			<button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			  Menu
			  <i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
			  <ul class="navbar-nav ml-auto">
			    <li class="nav-item mx-0 mx-lg-1">
			      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{'/login'}">Login</a>
			    </li>
			    <li class="nav-item mx-0 mx-lg-1">
			      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{'/logout'}">Logout</a>
			    </li>
			    <li class="nav-item mx-0 mx-lg-1">
			      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{'/cart'}">Cart</a>
			    </li>
			    <li class="nav-item mx-0 mx-lg-1">
			      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{'/mypage'}">MyPage</a>
			    </li>
			  </ul>
			</div>
		</div>
    </nav>

<section>
	<div class="container">
		<br>
		<br>
		<br>
        <h2 class="pull-left text-uppercase text-secondary mb-0">住所選択</h2>
        <br>
        <br>
        <br>
        <div th:each = "e : ${addresses}" class="container">
        		<form method="post" th:action="@{'/addressselect/' + ${e.getAddressid()} }">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr>
							<th>氏名</th><td><div th:text="${e.getHostname()}" style="font-weight:bold"></div></td>
						</tr>
						<tr>
							<th>郵便番号</th><td><div>〒<span th:text="${e.getPostcode()}"></span></div></td>
						</tr>
						<tr>
							<th>住所</th><td><div th:text="${e.getAddress()}"></div></td>
						</tr>
					</table>
				</div>
				<button class="btn btn-primary btn-xl" type="submit">この住所を使う</button>
				<hr>	
			</form>
		</div>
		
		<br>
		<br>
		<br>
        <h2 class="pull-left text-uppercase text-secondary mb-0">住所登録</h2>
        <br>
        <br>
        <br>
        
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<form method="post" th:action="@{'/addressselect'}" th:object="${address}" novalidate="novalidate">
					<div class="control-group">
					  <div class="form-group floating-label-form-group controls mb-0 pb-2">
					    <label>氏名</label>
					    <input class="form-control" name="hostname" th:field="*{hostname}" type="text" placeholder="Hostname" />
					  	<div th:if="${#fields.hasErrors('hostname')}" th:each="e : ${#fields.detailedErrors('hostname')}">
							<div th:text="${e.message}" style="color : red"></div>
						</div>
					  </div>
					</div>
					<div class="control-group">
					  <div class="form-group floating-label-form-group controls mb-0 pb-2">
					    <label>郵便番号</label>
					    <input class="form-control" name="postcode" th:field="*{postcode}" type="text" placeholder="Postcode" />
					  	<div th:if="${#fields.hasErrors('postcode')}" th:each="e : ${#fields.detailedErrors('postcode')}">
							<div th:text="${e.message}" style="color : red"></div>
						</div>
					  </div>
					</div>
					<div class="control-group">
					  <div class="form-group floating-label-form-group controls mb-0 pb-2">
					    <label>住所</label>
					    <input class="form-control" name="address" th:field="*{address}" type="text" placeholder="Address" />
					  	<div th:if="${#fields.hasErrors('address')}" th:each="e : ${#fields.detailedErrors('address')}">
							<div th:text="${e.message}" style="color : red"></div>
						</div>
					  </div>
					</div>
					<div class="control-group">
					  <div class="form-group floating-label-form-group controls mb-0 pb-2">
					    <label>電話番号</label>
					    <input class="form-control" name="tel" th:field="*{tel}" type="text" placeholder="Tel" />
					  	<div th:if="${#fields.hasErrors('tel')}" th:each="e : ${#fields.detailedErrors('tel')}">
							<div th:text="${e.message}" style="color : red"></div>
						</div>
					  </div>
					</div>
					<div class="form-group">
					  <button type="submit" class="btn btn-primary btn-xl">登録</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>



	<footer class="footer text-center">
		<div class="row">
			<div class="col-md-4 mb-5 mb-lg-0">
			  
			</div>
			<div class="col-md-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">EC</h4>
				<p class="lead mb-0">Copyright &copy; Your Website 2018</p>
			</div>
			<div class="col-md-4">
			  
			</div>
		</div>
    </footer>
    <!-- Bootstrap core JavaScript -->
   	<script th:src="@{ #{static.accessPath} + 'vendor/jquery/jquery.min.js'}"></script>
    <script th:src="@{ #{static.accessPath} + 'vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{ #{static.accessPath} + 'vendor/jquery-easing/jquery.easing.min.js'}"></script>
    <script th:src="@{ #{static.accessPath} + 'vendor/magnific-popup/jquery.magnific-popup.min.js'}"></script>

    <!-- Contact Form JavaScript -->
    <script th:src="@{ #{static.accessPath} + 'js/jqBootstrapValidation.js'}"></script>
    <script th:src="@{ #{static.accessPath} + 'js/contact_me.js'}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{ #{static.accessPath} + 'js/freelancer.min.js'}"></script>



</body>
</html>