<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>index</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Bootstrap core CSS -->
    <link th:href="@{ #{static.accessPath} + 'vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{ #{static.accessPath} + 'vendor/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link th:href="@{ #{static.accessPath} + 'vendor/magnific-popup/magnific-popup.css'}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link th:href="@{ #{static.accessPath} + 'css/freelancer.min.css'}" rel="stylesheet">
    <style>
	    	img {
	    	
	    		width : 900px;
	    		height : 650px;
	    	
	    	}
    </style>
	
<body id="page-top">

	<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" th:href="@{'/'}">EC</a>
			<button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			  Menu
			  <i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
			  <ul class="navbar-nav ml-auto">
			    <li class="nav-item mx-0 mx-lg-1">
			      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{'/login'}">Login</a>
			    </li>
			    <li class="nav-item mx-0 mx-lg-1">
			      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{'/logout'}">Logout</a>
			    </li>
			    <li class="nav-item mx-0 mx-lg-1">
			      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{'/cart'}">Cart</a>
			    </li>
			    <li class="nav-item mx-0 mx-lg-1">
			      <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{'/mypage'}">MyPage</a>
			    </li>
			  </ul>
			</div>
		</div>
    </nav>
    
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <h1 class="text-uppercase mb-0">EC</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Welcome to our EC site!</h2>
      </div>
    </header>
    
    <section id="contact">
		<div class="container">
			<h2 class="text-center text-uppercase text-secondary mb-0">Let's Search!</h2>
			<hr class="star-dark mb-5">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
					<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
					<form method="post" th:action="@{'/item'}" novalidate="novalidate">
						<div class="form-group">
							<select class="form-control" name="itemattribute" id="attributes">
								<option >カテゴリーを選択してください</option>
								<option th:each="attribute : ${attributes}" th:value="${attribute.getItemattributeno()}" th:text="${attribute.getItemattributenm()}"></option>
							</select>
						</div>
						<div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
							  <input class="form-control" name="word" id="name" type="text" placeholder="Search"/>
							</div>
						</div>
						<br>
						<div class="form-group pull-right">
							<button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
    
	<section class="portfolio" id="portfolio">
		<div class="container">
			<h2 class="text-center text-uppercase text-secondary mb-0">What's New</h2>
       		<hr class="star-dark mb-5">
			<div class="row" id="items">
				<div th:each="e : ${items}" class="col-md-6 col-lg-4">
					<a th:href="@{ '/itemdetail/' + ${e.getItemid()} }">
						<img class="img-fluid" th:src="@{ #{static.accessPath} + 'itemimg/' + ${e.getItemid()} + '.jpg'}" alt="">
						<div th:text="${e.getItemname()}"></div>
					</a>
				</div>
			</div>
		</div>
	</section>
    
    
    
	
	<footer class="footer text-center">
		<div class="row">
			<div class="col-md-4 mb-5 mb-lg-0">
			  
			</div>
			<div class="col-md-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">EC</h4>
				<p class="lead mb-0">Copyright &copy; Your Website 2018</p>
			</div>
			<div class="col-md-4">
			  
			</div>
		</div>
    </footer>


	<!-- Bootstrap core JavaScript -->
    <script th:src="@{ #{static.accessPath} + 'vendor/jquery/jquery.min.js'}"></script>
    <script th:src="@{ #{static.accessPath} + 'vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{ #{static.accessPath} + 'vendor/jquery-easing/jquery.easing.min.js'}"></script>
    <script th:src="@{ #{static.accessPath} + 'vendor/magnific-popup/jquery.magnific-popup.min.js'}"></script>

    <!-- Contact Form JavaScript -->
    <script th:src="@{ #{static.accessPath} + 'js/jqBootstrapValidation.js'}"></script>
    <script th:src="@{ #{static.accessPath} + 'js/contact_me.js'}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{ #{static.accessPath} + 'js/freelancer.min.js'}"></script>
</body>
</html>